---
layout: default
---

<div class="home">
	<div class="slideshow">
	<div class="slideshow-slides welcomeslides">
		<figure>
			<img src={{ "/assets/slideshow_1.jpg" | prepend: site.baseurl | prepend: site.url }}
			width=100%/>
		</figure>
		<figure>
			<img src={{ "/assets/slideshow_2.jpg" | prepend: site.baseurl | prepend: site.url }}
			width=100%/>
		</figure>
		<figure>
			<img src={{ "/assets/slideshow_3.jpg" | prepend: site.baseurl | prepend: site.url }}
			width=100%/>
		</figure>
		<figure>
			<img src={{ "/assets/slideshow_4.jpg" | prepend: site.baseurl | prepend: site.url }}
			width=100%/>
		</figure>
	</div>
	</div>
	<script src={{ "/scripts/hammer.min.js" | prepend: site.baseurl | prepend: site.url }}
			></script>
	<script src={{ "/scripts/slideshow.js" | prepend: site.baseurl | prepend: site.url}} >
	</script>

  <h1>Welcome</h1>
	<p>Welcome to the homepage of GCF @ UCSD. We have something happening
	every week; check out the 
	<a href={{ "/events/" | prepend: site.baseurl | prepend: site.url }}>events</a>
	page for the calendar!</p>

	<h2>Announcements</h2>
	<ul>
	{% capture current_time %}{{site.time | date: '%s'}}{% endcapture %}
	{% assign current_time = current_time | plus: 0 %}
		{% for post in site.tags.announcement %}
		{% capture post_time %}{{post.date | date: '%s'}}{% endcapture %}
		{% assign post_time = post_time | plus: 0 %}
		{% if post_time > current_time %}
		<li> <a href={{post.url | prepend: site.basurl | prepend: site.url}}>{{ post.title }}</a> </li>
		{% endif %}
		{% endfor %}
	</ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">via RSS</a></p>

</div>
